<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Uniquegrade" connectionString="server=localhost;user id=sa;password=123456;database=uniquegrade;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="Manufacture" connectionString="server=localhost;user id=sa;password=123456;database=Manufacture;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="GWT" connectionString="server=localhost;user id=sa;password=123456;database=GWT;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>

    <!--<add name="Uniquegrade" connectionString="server=uniquegrade;user id=sa;password=;database=uniquegrade;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="Manufacture" connectionString="server=sql server;user id=sa;password=;database=Manufacture;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="ErpGwt" connectionString="server=unique;user id=sa;password=;database=ErpGwt;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>-->

    <!--<add name="Uniquegrade" connectionString="server=192.168.1.3;user id=sa;password=;database=uniquegrade;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="Manufacture" connectionString="server=192.168.1.4;user id=sa;password=;database=Manufacture;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>
    <add name="ErpGwt" connectionString="server=unique;user id=sa;password=;database=ErpGwt;max pool size=100;Connect Timeout=100000" providerName="System.Data.SqlClient"/>-->

    
  </connectionStrings>
  <appSettings>
    <!-- 默认的电子帐册号 -->
    <add key="defaultManualCode" value="E37168000009"/>
    <!-- 访问数据库超时时间 -->
    <add key="CommandTimeout" value="60"/>
    <!-- 公司定位，tabCompany表 -->
    <add key="LocateValue" value="002"/>
  </appSettings>
</configuration>